{# 先在前端实现数据格式，在做这个超级管理员页面 #}
{% extends "layout.njk" %}
{# 首页自定义样式文件 #}
{% block cssFiles %}
<link rel="stylesheet" href="css/admin.css">
{% endblock %}
{% block jsFiles %}
<script src="http://webapi.amap.com/maps?v=1.4.1&key=c5da74a5a86f1b5b119e5dd939bf49d0&plugin=AMap.PolyEditor,AMap.MouseTool"></script>
{% endblock %}

{% block content %}
<h1>{{ title }}</h1>
<div class="container">
  <div class="companyBox" id={{ company.id }}>
    <span>{{ company.name }}</span>
    <span>{{ company.info }}</span>
    {% if company %}
    <form action="api/company/{{ company.id }}" method="PUT" id="updateCompany">
      <div>
        <label for="companyName">修改公司名称：</label>
        <input type="text" name="name" id="companyName">
      </div>
      <div>
        <label for="companyInfo">修改公司简介：</label>
        <input type="text" name="info" id="companyInfo"></input>
      </div>
      <div>
        <input type="submit" value="保存">
      </div>
    </form>
    {% else %}
    <form action="api/company" method="POST" id="createCompany">
      <div>
        <label for="companyName">公司名称：</label>
        <input type="text" name="name" id="companyName">
      </div>
      <div>
        <label for="companyInfo">公司简介：</label>
        <input type="text" name="info" id="companyInfo"></input>
      </div>
      <div class="buttonBox">
        <label for="addCompanyArea">地图编辑：</label>
        <input type="button" name="addCompanyArea" id="addCompanyArea" value="添加范围"></input>
      </div>
      <div>
        <input type="submit" value="保存">
      </div>
    </form>
    {% endif %}
  </div>
  <div id="departments">
    <ul>
      {% for department in departments %}
      <li class="departmentBox" id={{ department.id }}>
        {{ department.name }}-----{{ department.info }}
        <button>编辑</button>
      </li>
      {% endfor %}
    </ul>
    <form action="api/company/{{ company.id }}/departments" method="POST" id="createDepartment">
      <div>
        <label for="deparmentName">单位名称：</label>
        <input type="text" name="name" id="deparmentName">
      </div>
      <div>
        <label for="deparmentInfo">单位简介：</label>
        <input type="text" name="info" id="deparmentInfo"></input>
      </div>
      <div class="buttonBox">
        <label for="addDeparmentArea">地图编辑：</label>
        <input type="button" name="addDeparmentArea" id="addDeparmentArea" value="添加范围"></input>
      </div>
      <div>
        <input type="submit" value="保存">
      </div>
    </form>
  </div>
  <div id="map" style="min-width:600px; min-height:600px"></div>
</div>
<script src="js/admin.js"></script>
{% endblock %}