{# 先在前端实现数据格式，在做这个超级管理员页面 #}
{% extends "layout.njk" %}
{# 首页自定义样式文件 #}
{% block cssFiles %}
<link rel="stylesheet" href="css/admin.css">
{% endblock %}
{% block jsFiles %}
<script src="http://webapi.amap.com/maps?v=1.4.1&key=c5da74a5a86f1b5b119e5dd939bf49d0&plugin=AMap.PolyEditor,AMap.MouseTool"></script>
{% endblock %}

{% block content %}
<h2>{{ title }}</h2>
<div class="container">
  <div class="companyBox">
    <div class="companyShow" id="{{ company.id }}">
      <h3  style="display:none">
        <span>{{ company.name }}</span>
        <span>{{ company.info }}</span>
        <a href="" class="editCompany">edit</a>
        <a href="api/company/{{company.id}}" class="deleteItem">del</a>
      </h3>
      <form action="api/company" method="POST" id="createCompany" style="display:none">
        <input type="text" name="name">
        <input type="text" name="info">
        <input type="button" value="添加范围" class="createPolygon">
        <input type="submit" value="新建">
      </form>
      <form action="api/company/{{ company.id }}" method="PUT" id="updateCompany" style="display:none">
        <input type="text" name="name">
        <input type="text" name="info">
        <input type="button" value="编辑范围" class="updatePolygon">
        <input type="submit" value="修改">
      </form>
    </div>

    <div class="areaBox" style="display:none">
      <form action="api/company/{{ company.id }}/areas" method="POST" id="createArea">
        <input type="text" name="name">
        <input type="text" name="info">
        <input type="button" value="添加范围">
        <input type="submit" value="新建">
      </form>
      <form action="api/company/:id/areas" method="PUT" id="updateArea">
        <input type="text" name="name">
        <input type="text" name="info">
        <input type="button" value="编辑范围">
        <input type="submit" value="修改">
      </form>
      {% for area in areas %}
      <h5 class="areaShow" id={{ area.id }}>
        <span>{{ area.name }}</span>
        <span>{{ area.info }}</span>
        <a href="">edit</a>
        <a href="">del</a>
      </h5>
      {% endfor %}
    </div>
  </div>
  <div class="mapBox">
    <div class="buttonBox" style="display: none">
      <input type="button" id="editPolygon" value="编辑">
      <input type="button" id="overPolygon" value="结束编辑">
    </div>
    <div id="map"></div>
  </div>
</div>
<script src="js/admin.js"></script>
{% endblock %}