{% extends "layout.njk" %}
{% block cssFiles %}
<link rel="stylesheet" href="css/index.css">
{% endblock %}
{% block jsFiles %}
<script src="http://webapi.amap.com/maps?v=1.4.1&key=da39f372043eb0cbed8885f2ab67c515"></script>
<script src="vendors/exif.js"></script>
{% endblock %}

{% block content %}
<h1>{{ title }}</h1>
<div class="container">
  <div id="troublesBox">
    <ul id="troubleList">
      {% for trouble in troubles %}
      <li>{{ trouble.imageDescription }}</li>
      {% else %}
        <li>无内容，渲染错误</li>
      {% endfor %}
    </ul>
  </div>
  <div id="map"></div>
  <div id="formBox">
    <form action="/api" method="post" enctype="multipart/form-data" id="form">
      <p>
        <label>问题图片：</label>
        <input type="file" name="troubleImg" accept="image/*"/>
      </p>
      <p>
        <label>拍摄时间：</label>
        <input type="date" name="troubleDate">
        <input type="time" name="troubleTime">
      </p>
      <p>
        <label>定位点：</label>
        <select name="troubleArea" id="area">
          <option>选择单位</option>
        </select>
      </p>
      <p>
        <label>问题描述：</label>
        <input type="text" name="troubleDescription">
      </p>
      <p>
        <input type="checkbox" name="renovationStatus" class="mui-switch" value="on">
        <span>未整改</span>
      </p>
      <div class="renovationBox" style="display:none">
        <p>
          <label>整改图片：</label>
          <input type="file" name="renovationImg" accept="image/*"/>
        </p>
        <p>
          <label>整改时间：</label>
          <input type="date" name="renovationDate">
          <input type="time" name="renovationTime">
        </p>
        <p>
          <label>整改措施：</label>
          <input type="text" name="renovationText"/>
        </p>

      </div>
      <div>
        <input type="submit" value="提交">
      </div>
    </form>
  </div>
</div>
<script src="js/index.js"></script>
{% endblock %}