{% extends "layout.njk" %}
{# 首页自定义样式文件 #}
{% block stylesheets %}
<link rel="stylesheet" href="css/index.css">
{% endblock %}

{% block content %}
<h1>{{ title }}</h1>
<div class="container">
  <div id="map" style="min-width:600px; min-height:600px"></div>
  <form action="/upload" method="post" enctype="multipart/form-data" id="form">

    <div id="upfile" class="upfile upfile-advanced">
      <label id="demo-preview" for="demo-file">照片上传：</label>
      <input type="file" id="demo-file" accept="image/*">
    </div>

    <div>
      <label id="location">定位点：</label>
      <select id="department">
        {# 第一级可以后端直接渲染好，第二级将数据传进html，由页面js实时更改联动，可参考百度前端学院任务 #}
        <option value ="vessel-factory">重容分厂</option>
        <option value ="tube-factory">管子分厂</option>
      </select>
      <select id="region">
        <option value ="region-1">一跨</option>
        <option value ="region-2">二跨</option>
      </select>
    </div>
    <p>
      <label for="description">问题描述：</label>
      <input type="text" name="description" id="troubleDescription">
    </p>
    <p>
      <label for="datetime">拍摄时间：</label>
      <input type="date" name="dateInput" id="dateInput">
      <input type="time" name="dateInput" id="timeInput">
    </p>
    <p>
      <input type="submit" value="提交">
    </p>
  </form>
</div>
<script src="vendors/exif.js"></script>
<script src="js/index.js"></script>
<script>
{# 此脚本程序用于实时在前端页面显示图片预览 #}
(function(){
  var upfileBox = $('#upfile');
  var fileInput = $('#demo-file');
  var fileLabel = $('#demo-preview');
  var dateInput = $('#dateInput'); // 拍摄时间自动读取
  var timeInput = $('#timeInput'); // 拍摄时间自动读取

  if (typeof window.FileReader === 'function' || typeof window.FileReader === 'object') { // 火狐谷歌浏览器支持window.FileReader对象，IE不支持
    upfileBox.addClass('upfile-advanced');

    var oFile = new FileReader();
    var passFileType = /^(?:image\/bmp|image\/gif|image\/jpeg|image\/png)$/i; // 规定上传文件的扩展名格式

    // 开始读取图片时，重新将日期清空
    oFile.onloadstart = function () {
      dateInput.val('');
      timeInput.val('');
      dateInput.removeAttr('disabled');
      timeInput.removeAttr('disabled');
    }
    oFile.onloadend = function(oFREvent){ // onloadend，读取完触发事件，无论成败，都通过
      fileLabel.attr('class', '');

      var state = oFREvent.currentTarget.readyState;
      if (state === 2) {
        fileLabel.addClass('set').css('backgroundImage', 'url(' + oFREvent.target.result + ')');
      } else {
        fileLabel.addClass('error');
      };
    };

    fileInput.on('change', function(e){ // 监听fileInput文件上传框的内容改变事件
      if (!e.target || !e.target.files.length || !e.target.files[0]) {return};

      var _file = e.target.files[0];

      if (!passFileType.test(_file.type)) {return}; // 如果不符合规定格式，立即返回

      oFile.readAsDataURL(_file); // 开始读取文件

      EXIF.getData(_file, function(){
        var _datetime = EXIF.getTag(this, 'DateTime');
        var _date;
        var _time;
        // 前端显示时间
        if (_datetime) {
          _datetime = _datetime.split(' ');
          _date = _datetime[0].split(':').join('-');
          _time = _datetime[1];
          dateInput.val(_date);
          timeInput.val(_time);
          dateInput.attr('disabled','disabled');
          timeInput.attr('disabled','disabled');
        } else {
          _datetime = new Date();
          _date = `${_datetime.getFullYear()}-${_datetime.getMonth()+1}-${_datetime.getDate()}`;
          _time = `${_datetime.getHours()}:${_datetime.getMinutes()+1}:${_datetime.getSeconds()}`;
          dateInput.val(_date);
          timeInput.val(_time);
        }
        console.log(_date, _time);
        var _rotate = 0;
        var _orientation = EXIF.getTag(this, 'Orientation'); // 此参数显示拍摄方向

        if (_orientation == 3) {
          _rotate = 180;
        } else if (_orientation == 6) {
          _rotate = 90;
        } else if (_orientation == 8) {
          _rotate = 270;
        };

        fileLabel.addClass('rotate-' + _rotate);
      });
    });
  } else {
    alert('当前浏览器不支持实时预览，请更换现代浏览器，或切换至极速模式后刷新');
  }
})();
</script>
{% endblock %}