{% extends "layout.njk" %}
{% block cssFiles %}
<link rel="stylesheet" href="css/index.css">
{% endblock %}
{% block jsFiles %}
<script src="http://webapi.amap.com/maps?v=1.4.1&key=c5da74a5a86f1b5b119e5dd939bf49d0&plugin=AMap.PolyEditor,AMap.MouseTool"></script>
<script src="vendors/exif.js"></script>
{% endblock %}

{% block content %}
<h1>{{ title }}</h1>
<div class="container">
  <div id="troublesBox">
    <ul id="troubleList">
      {% for trouble in troubles %}
      <li>{{ trouble.imageDescription }}</li>
      {% else %}
        <li>无内容，渲染错误</li>
      {% endfor %}
    </ul>
  </div>
  <div id="map" style="min-width:600px; min-height:600px"></div>
  <div id="formbox">
    <form action="/api" method="post" enctype="multipart/form-data" id="form">

      <p id="troubleBox">
        <label for="upImage">上传图片：</label>
        <input id="upImage" type="file" accept="image/*" name="upImage" />
      </p>

      <p>
        <label for="location">定位点：</label>
        <input type="text" name="location" id="troubleLocation"></input>
      </p>

      <p>
        <label for="area">定位点：</label>
        <select name="areaLocation" id="area">
          <option>选择单位</option>
        </select>
      </p>

      <p>
        <label for="description">问题描述：</label>
        <input type="text" name="description" id="troubleDescription">
      </p>
      <p>
        <label for="status">是否整改</label>
        <select name="status" id="status">
          <option value="false">待整改</option>
          <option value="true">已整改</option>
        </select>
      </p>

      <p id="reformBox">
        <label for="upReform">整改上传：</label>
        <input id="upReform" type="file" accept="image/*" name="upReform" />
      </p>

      <p>
        <label for="datetime">拍摄时间：</label>
        <input type="date" name="dateInput" id="dateInput">
        <input type="time" name="dateInput" id="timeInput">
      </p>

      <p>
        <input type="submit" value="提交">
      </p>
    </form>
  </div>
</div>
<script src="js/admin.js"></script>
{% endblock %}