{% extends "layout.njk" %}
{% block content %}
<h1>{{ title }}</h1>
<form action="/login" method="post">
  <div>
    <lable for="email">邮箱：</lable>
    <input type="email" name="email" id="email">
  </div>
  <div>
    <label for="password">密码：</label>
    <input type="password" name="password" id="password">
  </div>
  <div>
    <input type="submit" value="登录">
  </div>
</form>
{% endblock %}
{% include './parts/footer.njk' %}