{% extends "layout.njk" %}
{% block content %}
<h1>{{ title }}</h1>
<form action="/register" method="post">
  <div>
    <lable for="email">邮箱：</lable>
    <input type="email" name="email" id="email">
  </div>
  <div>
    <label for="password">密码：</label>
    <input type="password" name="password" id="password">
  </div>
  <div>
    <label for="username">用户名：</label>
    <input type="text" name="name" id="username">
  </div>
  <div>
    <label for="role">岗位：</label>
    <select name="role" id="role">
      <option value="1">普通员工</option>
      <option value="2">基层班组长</option>
      <option value="3">生产单位管理者</option>
      <option value="4">高级管理者</option>
    </select>
  </div>
  <div>
    <label for="cellphone">手机号：</label>
    <input type="text" name="cellphone" id="cellphone">
  </div>
  <div>
    <input type="submit" value="注册">
  </div>
</form>
{% endblock %}
{% include './parts/footer.njk' %}