{# 先在前端实现数据格式，在做这个超级管理员页面 #}
{% extends "layout.njk" %}
{# 首页自定义样式文件 #}
{% block cssFiles %}
  <link rel="stylesheet" href="/css/tree.css">
{% endblock %}
{% block jsFiles %}
  <script src="/js/tree.js"></script>
{% endblock %}

{% block content %}
<h2>{{ title }}</h2>
<div class="container">
  <div class="tree">
    <h5 class="tips">点击此区域可取消当前区域的选择</h5>
    <div class="layer-0">
      <div class="layer-1">
        <h4>哈锅厂区</h4>
        <div class="layer-2">
          <h4>一厂房</h4>
          <div class="layer-3">
            <h4>一跨</h4>
            <div class="layer-4">焊接区域</div>
            <div class="layer-4">倒角区域</div>
            <div class="layer-4">装配区域</div>
            <div class="layer-4">组装区域</div>
          </div>
          <div class="layer-3">
            <h4>二跨</h4>
            <div class="layer-4">机加区域</div>
            <div class="layer-4">浇筑区域</div>
            <div class="layer-4">机加区域</div>
          </div>
          <div class="layer-3">
            <h4>三跨</h4>
          </div>
          <div class="layer-3">
            <h4>四跨</h4>
          </div>
          <div class="layer-3">
            <h4>五跨</h4>
          </div>
          <div class="layer-3">
            <h4>六跨</h4>
          </div>
          <div class="layer-3">
            <h4>七跨</h4>
          </div>
        </div>
        <div class="layer-2">
          <h4>二厂房</h4>
          <div class="layer-3">
            <h4>一跨</h4>
            <div class="layer-4">存放区</div>
            <div class="layer-4">恢复区</div>
          </div>
          <div class="layer-3">
            <h4>二跨</h4>
            <div class="layer-4">放区</div>
            <div class="layer-4">复区</div>
            <div class="layer-4">复区</div>
            <div class="layer-4">复区</div>
          </div>
        </div>
        <div class="layer-2">
          <h4>四厂房</h4>
          <div class="layer-3">
            <h4>一跨</h4>
            <div class="layer-4">存放区</div>
            <div class="layer-4">恢复区</div>
          </div>
          <div class="layer-3">
            <h4>二跨</h4>
            <div class="layer-4">放区</div>
            <div class="layer-4">复区</div>
            <div class="layer-4">复区</div>
            <div class="layer-4">复区</div>
          </div>
          <div class="layer-3">
            <h4>三跨</h4>
            <div class="layer-4">放区</div>
            <div class="layer-4">复区</div>
          </div>
        </div>
        <div class="layer-2">
          <h4>五厂房</h4>
        </div>
      </div>
    </div>

  </div>
  <form class="control-panel">
    <input type="button" id="btn-delete" value="删除">
    <div>
      <input type="text" name="add-layer">
      <input type="button" id="btn-add" value="添加">
    </div>
    <div>
      <input type="text" name="update-layer">
      <input type="button" id="btn-update" value="修改">
    </div>
  </form>
</div>
{% endblock %}
{% include './parts/footer.njk' %}