{# 先在前端实现数据格式，在做这个超级管理员页面 #}
{% extends "layout.njk" %}
{# 首页自定义样式文件 #}
{% block cssFiles %}
  <link rel="stylesheet" href="/css/tree.css">
{% endblock %}
{% block jsFiles %}
  <script src="/js/tree.js"></script>
{% endblock %}

{% block content %}
<h2>{{ title }}</h2>
<div class="container">
  <div class="tree">
    <div class="first-layer">一厂房
      <div class="second-layer">一跨
        <div class="third-layer">焊接区域</div>
        <div class="third-layer">倒角区域</div>
        <div class="third-layer">装配区域</div>
        <div class="third-layer">组装区域</div>
      </div>
      <div class="second-layer">二跨
        <div class="third-layer">机加区域</div>
        <div class="third-layer">浇筑区域</div>
        <div class="third-layer">机加区域</div>
      </div>
      <div class="second-layer">三跨</div>
      <div class="second-layer">四跨</div>
      <div class="second-layer">五跨</div>
      <div class="second-layer">六跨</div>
      <div class="second-layer">七跨</div>
    </div>
    <div class="first-layer">二厂房
      <div class="second-layer">一跨
        <div class="third-layer">存放区</div>
        <div class="third-layer">恢复区</div>
      </div>
      <div class="second-layer">二跨
        <div class="third-layer">放区</div>
        <div class="third-layer">复区</div>
        <div class="third-layer">复区</div>
        <div class="third-layer">复区</div>
      </div>
    </div>
    <div class="first-layer">四厂房
      <div class="second-layer">一跨
        <div class="third-layer">存放区</div>
        <div class="third-layer">恢复区</div>
      </div>
      <div class="second-layer">二跨
        <div class="third-layer">放区</div>
        <div class="third-layer">复区</div>
        <div class="third-layer">复区</div>
        <div class="third-layer">复区</div>
      </div>
      <div class="second-layer">三跨
        <div class="third-layer">放区</div>
        <div class="third-layer">复区</div>
      </div>
    </div>
    <div class="first-layer">五厂房</div>
  </div>
  <form class="control-panel">
    <input type="button" id="btn-delete" value="删除">
    <div>
      <input type="text" name="add-layer">
      <input type="button" id="btn-add" value="添加">  
    </div>
    <div>
      <input type="text" name="update-layer">
      <input type="button" id="btn-update" value="修改">
    </div>
  </form>
</div>
{% endblock %}
{% include './parts/footer.njk' %}