<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <title>问题详情页设计</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../public/css/test.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <nav>
        <a class="logo" href="/">
          <img src="../public/images/logo.png" alt="logo">
        </a>
        <ul>
          <li>
            <a href="#">注册</a>
          </li>
          <li>
            <a href="#">登录</a>
          </li>
          <li>
            <a href="#">管理员</a>
          </li>
        </ul>
      </nav>
    </header>
    <div class="container">
      <!-- 左侧部分 -->
      <div class="detail_left">
        <div class="detail_info">
          <h4 class="detail_title">问题标题</h4>
          <div class="detail_specific">
              <div class="detail_pic">
                <img src="../public/example/example.jpg">
              </div>
              <div class="detail_description">

              </div>
          </div>
        </div>
        <!-- 图片 -->
        <div class="detail_preview">

        </div>
      </div>
      <!-- 右侧部分 -->
      <div class="detail_right">

      </div>
    </div>
  </body>
</html>