body {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mapBox {
  width: 60%;
}
.companyBox {
  width: 40%;
}
.companyBox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.areaBox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid red;
  margin: 1em;
}
h2, h3, h4, h5 {
  text-align: center;
}
#map {
  height: 500px;
}
form {
  display: flex;
}
form input {
  width: 5em;
}