.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
#troublesBox {
  width: 25%;
}
#map {
  width: 40%;
}
#formbox {
  width: 25%;
}

#troubleLocation {
  width: 50%;
}

/* 默认让整改图片上传框隐藏，由整改状态按钮触发改变 */
#reformBox {
  display: none;
}