* {
  margin: 0;
  padding: 0;
}
body {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  text-decoration: none;
  color: #00B7FF;
}

h1 {
  text-align: center;
}
img {
  width: 200px;
}

nav {
  background: lightslategrey;
  height: 60px;
  padding: 0 30px;
  width: auto;
}
nav a {
  display: inline-block;
  height: 100%;
}
nav .logo img{
  width: 60px;
  height: 60px;
}
nav ul {
  float: right;
  height: 100%;
  font-size: 12px;
}
nav ul li {
  display: inline-block;
  height: inherit;
  margin: 0 5px;
}
nav ul a {
  color: #ffffff;
  display: inline-block;
  height: 100%;
  /*垂直居中的办法就是line-height*/
  line-height: 60px;
  text-decoration: none;
  margin: auto 0;
}

/* footer部分开始 */
.footer {
  position: absolute;
  bottom: 0;
  background-color: lightslategrey;
  width: 100%;
	margin: 0px auto;
	font-size: 12px;
	text-align: center;
}
.footer p {
	line-height: 20px;
}
.footer .links {
	margin-top: 28px;
	color: #A4A4A4;
}
.footer .links a {
	padding-left: 5px;
	padding-right: 5px;
	color: #A4A4A4;
}
.footer .declare {
	margin-top: 5px;
	margin-bottom: 13px;
}
/* footer部分结束 */