<footer class="footer">
    <p class="links">
      <a href="#">百度无人驾驶</a>
      <a href="#">阿里巴巴</a>
      <a href="#">腾讯科技</a>
    </p>
    <p class="declare">
      © 2002-2015 版权所有&nbsp;|&nbsp;黑ICP证 132132号&nbsp;|&nbsp;公网安备123154645646号&nbsp;|&nbsp;甲测资字11002004
    </p>
  </footer>