{% extends "layout.njk" %}
{% block content %}
<h1>{{ title }}</h1>
<p>欢迎 {{ title }}</p>
<div id="map" style="min-width:600px; min-height:767px"></div>
<form action="/upload" method="post" enctype="multipart/form-data">
  <input type="file" id="chooseImage">
  <input type="submit" value="提交">
</form>
<script charset="utf-8" src="http://map.qq.com/api/js?v=2.exp&key=QXZBZ-GNZWW-TC2RM-RJTDS-2SUV3-QRFUC"></script>
<script src="js/index.js"></script>
{% endblock %}